@media screen and (max-width: 500px) {
	.container {
		width: 100%;
	}
	header {
		ul {
			text-align: center;
		}
	}
	.screen {
		.screen-hint {
			padding: 1rem;
			text-align: center;
			font-size: 1rem;
		}
		h1 {
			font-size: 2.7rem;
			width: 26rem !important;
		}
		.title {
			margin-bottom: 12rem !important;
			strong {
				padding: 0;
			}
			margin-bottom: 17rem;
		}
		.screen-wrap {
			gap: 1rem;
			width: 40%;
		}
		position: relative;
		width: 98%;
		margin: 2rem auto;
		.screen-button {
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;

			font-size: 1rem;
		}
		.block {
			position: absolute;
			right: 0;
			z-index: -1;
			top: 0;
			width: 60%;
			img {
				width: 100%;
				margin: 0 auto;
				height: auto;
			}
		}
		.subtitle {
			width: 100% !important;
			line-height: 150%;
			padding: 0 0 0 1rem;
			font-size: 1rem !important;
		}
	}
	.head {
		h3 {
			font-size: 2.3rem;
		}
		display: flex;
		align-items: center;
		padding: 1rem;
		margin-bottom: 1.2rem;
		&.accent {
			padding-top: 2rem;
		}
	}
	.info {
		span {
			width: 100% !important;
		}
	}
	.main-form {
		.group {
			width: 90%;
		}
		.field {
			width: 100% !important;
		}
		strong {
			font-size: 2.8rem;
		}
		margin: 0 auto;
		width: 100%;
		input,
		textarea {
			width: 100% !important;
		}
		padding: 2rem;
	}
	.about {
		.wrap {
			width: 100%;
			h2 {
				font-size: 4.2rem;
			}
			img {
				margin-top: 13.3rem;
			}
		}
	}
}
